---
layout: default
---

<!-- Main content -->
{% include partials/main.html %}
<!--/ Main content -->

<!-- Player content -->
{% include partials/player.html %}
<!--/ Player content -->

<!-- Application content -->
{% include partials/application.html %}
<!--/ Application content -->

<!-- Debug content -->
{% include partials/debug.html %}
<!--/ Debug content -->

<!-- Script Templates -->
{% include templates/fundhistory.tmpl %}
{% include templates/placebet.tmpl %}
{% include templates/selectplayer.tmpl %}
{% include templates/updateplayer.tmpl %}
{% include templates/viewplayer.tmpl %}
{% include templates/win.tmpl %}
{% include templates/calculate.tmpl %}
<!--/ Script Templates -->