<script id="view-template" type="text/x-jquery-tmpl">
    <td>${name}</td>
    <td>$${FormatNumber(funds)}</td>
    <td>
      <button type="button" data-action="edit" class="btn btn-primary">Edit</button>
      <button type="button" data-action="delete" class="btn btn-danger">Delete</button>
    </td>
</script>